<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>commitee
    </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

 <style>
     body{
         background-color:darkgrey; 
     }
     img{
         height: 60%;
         width: 80%;
         border-radius: 10px;
     }
     h1{
         text-align: center;
         font-family:sans-serif;
         color:darkgreen;
         font-size: 60px;
         
     }
     {
        
     }
    </style>
  
<div class="container">
 
     <h1>ORGANISING TEAM</h1>
 <br>
  <div class="row">
    <div class="col-sm-4">
       <img src="/static/images/dean/Dr.%20Ashish%20Karnwal%20(Dean-SW).jpg" alt="">
       <br>
     <b>  Dr Ashish Karnwal <br>
       (Dean-SW)
        </b>
    </div>
     <div class="col-sm-4">
       <img src="/static/images/dean/Dr.%20Brajesh%20Kumar%20Tiwari%20(Convener).jpg" alt="">
        <br>
     <b>  Dr B.K Tiwari <br>
       (Convenor)
        </b>
    </div>
     <div class="col-sm-4">
      <img src="/static/images/dean/Mr.%20Tushar%20Dhar%20Shukla,%20(Online%20Game,%20Yoga,%20Lawn%20Tennis,%20Pool,%20Karate.jpg" alt="">
      <br>
     <b> Mr.Tushar shukla<br>
       (Sports officer)
        </b>
    </div>
    </div>
     <div class="row">
    <div class="col-sm-4">
       <img src="/static/images/dean/Dr.%20Mrinal%20Verma%20,%20Table%20Tennis.jpg" alt="">
       <br>
     <b> Dr.Mrinal Verma<br>
       (Table tannis)
        </b>
    </div>
     <div class="col-sm-4">
       <img src="/static/images/dean/Dr.%20Pramod%20Kumar%20Yadav%20(Convener).jpg" alt="">
       <br>
     <b> Dr.Pramod Kumar<br>
       (Convenor)
        </b>
    </div>
     <div class="col-sm-4">
      <img src="/static/images/dean/Dr.%20Pushpendra,%20Cricket.jpg" alt="">
      <br>
       <b> Dr.Pushpendra Shukla<br>
       (Cricket)
        </b>
    </div>
    </div>
     <div class="row">
    <div class="col-sm-4">
       <img src="/static/images/dean/Dr.%20Satish%20Kumar,%20Volleyball.jpg" alt="">
       <br>
        <b> Dr.Pramod Kumar<br>
       (Convenor)
        </b>
    </div>
     <div class="col-sm-4">
       <img src="/static/images/dean/krati%20Gupta%20,%20Carrom.png" alt="">
        <br>
        <b>Ms.Krati Gupta<br>
       (Carrom)
        </b>
    </div>
     <div class="col-sm-4">
      <img src="/static/images/dean/Mr.%20Ankit%20Verma%20Chess.jpg" alt="">
       <br>
        <b> Mr.Ankit Verma<br>
       (Chess)
        </b>
    </div>
    </div>
     <div class="row">
    <div class="col-sm-4">
       <img src="/static/images/dean/Mr.%20Nitin%20Kumar,%20Football.jpg" alt="">
        <br>
        <b>Mr.Nitim Kumar<br>
       (Football)
        </b>
    </div>
     <div class="col-sm-4">
       <img src="/static/images/dean/Mr.%20Om%20Prakash%20,%20Basketball.jpg" alt="">
        <br>
        <b>Mr.Om prakash<br>
       (Basketball)
        </b>
    </div>
     <div class="col-sm-4">
      <img src="/static/images/dean/Ms.%20Swati%20(Member-Organizing%20Committee).jpg" alt="">
       <br>
        <b>Ms. Swati<br>
        (organisimg commitee
        )
        </b>
    </div>
    </div>
     <div class="row">
    <div class="col-sm-4">
       <img src="/static/images/dean/Shiv%20Kumar%20Sikarwar,%20ATHLETICS.jpg" alt="">
        <br>
        <b>Mr.Shiv Kumar sikarwar<br>
       (Athletics)
        </b>
    </div>
     <div class="col-sm-4">
       <img src="/static/images/dean/Dr.%20Mani%20Tyagi%20(Member-Organizing%20Committee).jpg" alt="">
        <br>
        <b> Dr.Mani Tyagi<br>
       (organisimg commitee
        )
        </b>
    </div>
     <div class="col-sm-4">
      <img src="/static/images/dean/Vineeta%20Pal,%20Badminton.jpg" alt="">
       <br>
        <b>Ms.Vineeta Pal<br>
       (Badminton)
        </b>
    </div>
    </div>
    
    
    
    
    </div>
</body>
</html>