<!DOCTYPE html>
<html>
<head>
	<title>Rann'20 | Intercollege Sports Events - KIET</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/nav.css">
	<link rel="stylesheet" href="../static/css/card.css">
	<link rel="stylesheet" href="../static/css/font.css">
</head>
<body>

	<div class="main_bg">

		<nav>
			<div class="logo_home">
				<img src="../static/img/logo.png" class="logo_img_home" alt="rann_logo"/>
			</div>

			<div class="nav_right">
				<div></div>
				<div></div>
				<div></div>
				<a href="/loginpage/direct">
					<button class="reg_btn">REGISTER</button>
				</a>
			</div>
		</nav>

		
		<div class="player">
			<img src="../static/img/player3.png">
		</div>

		<div class="tagline">
			<div class="rann_20">RANN &nbsp; '20</div>
		</div>

		<div class="date">
			21 - 23 <span class="month">Feb</span>
		</div>

		<div class="motto">
			#HumFitToIndiaFit
		</div>

	</div>  <!--main_bg ends here-->

<div class="abt_rann_wrap">
	<div class="heading center">ABOUT RANN</div>
	<div class="abt_rann_cont">
		RANN The National Level Sports Fest of KIET Group of Institutions is a three days mega event with participants from more than 30 reputed colleges. 
		<p>It is aimed at leading by example of  sportsmanship. 
		Rann infuses passion in veins and emboldens the action being performed.</p>
	</div>
</div>	

<br><br>

<div class="events_wrap">
	<div class="heading center">OUR EVENTS</div>
	<div class="events">
		
		<a  href="/events/Cricket" class="event_box_wrap card">
		      <div class="image  cricket">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Cricket
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Football" class="event_box_wrap card">
		      <div class="image football">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Football
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Badminton" class="event_box_wrap card">
		      <div class="image badminton">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Badminton
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Basketball" class="event_box_wrap card">
		      <div class="image basket">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Basketball
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Tabletennis" class="event_box_wrap card">
		      <div class="image tt">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Table Tennis
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Volleyball" class="event_box_wrap card">
		      <div class="image volley">
			    <div class="event_box">
			     	<div class="event_box_txt">
						VolleyBall
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Lawntennis" class="event_box_wrap card">
	    <div class="image tennis">
			<div class="event_box">
			    <div class="event_box_txt">
					Lawn Tennis
			    </div>
			</div>
		</div>
	</a> 

	<a  href="/events/Carrom" class="event_box_wrap card">
	    <div class="image carrom">
			<div class="event_box">
			    <div class="event_box_txt">
					Carrom
			    </div>
			</div>
		</div>
	</a>    

	<a  href="/events/Pool" class="event_box_wrap card">
		      <div class="image pool">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Pool
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Yoga" class="event_box_wrap card">
		      <div class="image yoga">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Yoga
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Karate" class="event_box_wrap card">
		      <div class="image karate">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Karate
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Athletics" class="event_box_wrap card">
		      <div class="image athletics">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Athletics
			     	</div>
			    </div>
		      </div>
		</a>    


	<a  href="/events/Chess" class="event_box_wrap card">
		      <div class="image chess">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Chess
			     	</div>
			    </div>
		      </div>
		</a>


	<a  href="/events/Pubg" class="event_box_wrap card">
		      <div class="image pubg">
			    <div class="event_box">
			     	<div class="event_box_txt">
						PUBG
			     	</div>
			    </div>
		      </div>
		</a>    

	    

	<a  href="/events/Fifa" class="event_box_wrap card">
		      <div class="image fifa">
			    <div class="event_box">
			     	<div class="event_box_txt">
						FIFA
			     	</div>
			    </div>
		      </div>
		</a>    

		


	</div>
</div>


	<div class="chief_guest top">
		<div class="heading top">CHIEF GUEST</div>

		<div class="guest_list">

			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/divya_singh.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Divya Singh</div> 
			      </div>
			    </div>
	  		</div>

				<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/sunita_godara.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Sunita Godara</div> 
			      </div>
			    </div>
	  		</div>
	  		
				<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/pratima_singh.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Pratima Singh</div> 
			      </div>
			    </div>
	  		</div>
	  		
				<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/prashanti_singh.jpeg">
			      <div class="guest_det">
			      	<div class="guest_name">Prashanti Singh</div> 
			      </div>
			    </div>
	  		</div>
	  		
	  		
			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/deepika.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Deepika Dhiman</div> 
			      </div>
			    </div>
	  		</div>
	  		
			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/suvarna_raj.png">
			      <div class="guest_det">
			      	<div class="guest_name">Suvarna Raj</div> 
			      </div>
			    </div>
	  		</div>
	  		
			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/pradeep_raj.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Pradeep Raj</div> 
			      </div>
			    </div>
	  		</div>
	  		
				
		</div>
	</div>

<div class="msg">
	<div class="heading center">MESSAGE</div>
	
	<div class="dir_msg_wrap">
		<div class="dir_img">
			<img src="../static/img/dir.jpg">
		</div>
		<div class="dir_msg">
			<div class="heading2 center">Dr. Manoj Goel (Joint Director)</div><br>
			Besides the academic activities Students would like to get relieved and focus on fun and physique. Sports activities help the students to keep them fit both mentally and physically. The institution provides abundant facilities for the students to get accustomed with the varied sports activities like Basket Ball, Football , Cricket, Kho-Kho, Volley Ball and indoor games like Badminton, Chess, Carrom, Table Tennis . 
			<br><br>Our students know all the angles, to bring laurels to the college and themselves.ALL THE BEST to all the participants.
		</div>
	</div>
	<br>
	<div class="dir_msg_wrap jd">
		<div class="dir_msg">
			<div class="heading2 center">Dr. Manoj Goel (Joint Director)</div><br>
			The mission of the Institution is to provide a broad spectrum of sports, recreation and leisure activities for students, staff and faculty, as well as members of the local community. <br><br>The primary direction is to provide services and programs that stimulate growth, development and retention of students in a contemporary and safe environment that develops fitness and wellness, social interaction and leadership opportunities.
		</div>
		<div class="dir_img">
			<img src="../static/img/jd.jpg">
		</div>
	</div>

</div>

<br><br><br>

<footer>
	<div class="footer_wrap">
		<div class="logo logo_footer">
			<img src="../static/img/kiet.png">
		</div>

		<div class="footer_list">
			<div class="comp_txt">Links</div>

			<a href="#">Gallery</a>
			<a href="#">Sponsors</a>
	
		</div>

		<!-- <div class="input_area">
			<div class="msg_txt">LEAVE A MESSAGE</div>
			<input type="text" placeholder="Enter Your Name">
			<input type="email" placeholder="Enter Your Email">
			<textarea placeholder="Leave us a message"></textarea>
			<button class="submit_btn">SUBMIT</button>
		</div> -->

		<div class="rann_logo">
			<img src="../static/img/logo.png" />
		</div>
	</div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/js/cardeffect.js"></script>

</body>
</html>