<!DOCTYPE html>
<html>
<head>
	<title>Rann'20 | Intercollege Sports Events - KIET</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/nav.css">
	<link rel="stylesheet" href="../static/css/card.css">
	<link rel="stylesheet" href="../static/css/font.css">
</head>
<body>

	<div class="main_bg">

		<nav>
			<div class="logo_home">
				<img src="../static/img/logo.png" class="logo_img_home" alt="rann_logo"/>
			</div>

			<div class="nav_right" style="z-index: 9999;">
				<div></div>
				<div></div>
				<div></div>
					{% if logged_in %}
					<a href="/logout">
						<button class="reg_btn">LOGOUT</button>
					
					</a>
					{% else %}
					<a href="/loginpage/direct">
						<button class="reg_btn">LOGIN</button>
					
					</a>
					{% endif %}
			</div>
		</nav>

		
		<div class="player">
			<img src="../static/img/player3.png">
		</div>

		<div class="tagline">
			<div class="rann_20">RANN &nbsp; '20</div>
		</div>

		<div class="date">
			21 - 23 <span class="month">Feb</span>
		</div>

		<div class="motto">
			#HumFitToIndiaFit
		</div>

	</div>  <!--main_bg ends here-->

<div class="abt_rann_wrap">
	<div class="heading center">ABOUT RANN</div>
	<div class="abt_rann_cont">
		RANN The National Level Sports Fest of KIET Group of Institutions is a three days mega event with participants from more than 70 reputed colleges. 
		<p>It is aimed at leading by example of  sportsmanship. 
		Rann infuses passion in veins and emboldens the action being performed.</p>
	</div>
</div>	

<br><br>

<div class="events_wrap">
	<div class="heading center">OUR EVENTS</div>
	<div class="events">
		
<div class="event_row1">	
		<a  href="/events/Cricket" class="event_box_wrap card">
		      <div class="image  cricket">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Cricket
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Football" class="event_box_wrap card">
		      <div class="image football">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Football
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Badminton" class="event_box_wrap card">
		      <div class="image badminton">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Badminton
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Basketball" class="event_box_wrap card">
		      <div class="image basket">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Basketball
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Tabletennis" class="event_box_wrap card">
		      <div class="image tt">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Table Tennis
			     	</div>
			    </div>
		      </div>
		</a>   

	</div>

	<div class="event_row2"> 

	<a  href="/events/Volleyball" class="event_box_wrap card">
		      <div class="image volley">
			    <div class="event_box">
			     	<div class="event_box_txt">
						VolleyBall
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Lawntennis" class="event_box_wrap card">
	    <div class="image tennis">
			<div class="event_box">
			    <div class="event_box_txt">
					Lawn Tennis
			    </div>
			</div>
		</div>
	</a> 

	<a  href="/events/Carrom" class="event_box_wrap card">
	    <div class="image carrom">
			<div class="event_box">
			    <div class="event_box_txt">
					Carrom
			    </div>
			</div>
		</div>
	</a>    

	<a  href="/events/Pool" class="event_box_wrap card">
		      <div class="image pool">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Pool
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Yoga" class="event_box_wrap card">
		      <div class="image yoga">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Yoga
			     	</div>
			    </div>
		      </div>
		</a>    


	</div>

	<div class="event_row3">
	<a  href="/events/Karate" class="event_box_wrap card">
		      <div class="image karate">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Karate
			     	</div>
			    </div>
		      </div>
		</a>    

	<a  href="/events/Athletics" class="event_box_wrap card">
		      <div class="image athletics">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Athletics
			     	</div>
			    </div>
		      </div>
		</a>    


	<a  href="/events/Chess" class="event_box_wrap card">
		      <div class="image chess">
			    <div class="event_box">
			     	<div class="event_box_txt">
						Chess
			     	</div>
			    </div>
		      </div>
		</a>


	<a  href="/events/Pubg" class="event_box_wrap card">
		      <div class="image pubg">
			    <div class="event_box">
			     	<div class="event_box_txt">
						PUBG
			     	</div>
			    </div>
		      </div>
		</a>    

	    

	<a  href="/events/Fifa" class="event_box_wrap card">
		      <div class="image fifa">
			    <div class="event_box">
			     	<div class="event_box_txt">
						FIFA
			     	</div>
			    </div>
		      </div>
		</a>    

	</div>


	</div>
</div>

	<div class="chief_guest top">
		<div class="heading top">CHIEF GUEST</div>

		<div class="guest_list">
<div class="guest_row1">
			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/divya_singh.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Divya Singh</div> 
			      	<br>
			      	Former captain of the Indian National Women's Basketball Team.
			      </div>
			    </div>
	  		</div>

				<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/sunita_godara.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Sunita Godara</div> 
			      	<br>
			      	Member of the India women's national basketball team
			      </div>
			    </div>
	  		</div>
	  		
				<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/pratima_singh.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Pratima Singh</div> 
			      	<br>
			      	Honoured with National Civilian Award Padma Shri in 2019,
Arjuna Award by the Ministry of Youth Affairs and Sports, Government of India,
Prestigious Rani Laxmi Bai Bravery Award 2016-17
			      </div>
			    </div>
	  		</div>
	  		
				<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/prashanti_singh.jpeg">
			      <div class="guest_det">
			      	<div class="guest_name">Prashanti Singh</div> <br>
			      	Former Indian marathon runner
			      </div>
			    </div>
	  		</div>
	  		
	  		
			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/deepika.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Deepika Dhiman</div>  <br>
			      	Indian professional basketball player
			      </div>
			    </div>
	  		</div>
	  		
	  		</div>

	  	<div class="guest_row2">
			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/suvarna_raj.png">
			      <div class="guest_det">
			      	<div class="guest_name">Suvarna Raj</div> 
			      </div>
			    </div>
	  		</div>
	  		
			<div class="guest_box_wrap">
			    <div class="guest_box">
			      <img src="../static/img/guest/pradeep_raj.jpg">
			      <div class="guest_det">
			      	<div class="guest_name">Pradeep Raj</div> 
			      </div>
			    </div>
	  		</div>

	  		<div class="guest_box_wrap">
			    <div class="guest_box2 many">
			      <div class="guest_det">
			      	<div class="guest_name">And Many More...</div> 
			      </div>
			    </div>
	  		</div>

	  	</div>
				
		</div>
	</div>

<div class="msg">
	<div class="heading center">MESSAGE</div>
	
	<div class="dir_msg_wrap">
		<div class="dir_img">
			<img src="../static/img/dir.jpg">
		</div>
		<div class="dir_msg">
			<div class="heading2 center">Dr.(Col) A Garg (Director)</div><br>
			Swami Vivekananda once said “We want that education by which character is
			formed, strength of mind is increased, the intellect is expanded and by which
			one can stand on one’s own feet”. KIET GROUP OF INSTITUTIONS is
			tirelessly devoted to the cause of providing quality legal education to its students.
			Following the Motto of Dharma Sansthapanartham (for the sake of establishing the
			primacy of the laws of eternal values), every student in KIET GROUP OF
			INSTITUTIONS is not only encouraged to persist enthusiastically and vigorously
			towards their AKTU Academics but also towards an all-encompassing/ inclusive
			quest for knowledge and wisdom.<br>
			It is said that a good work-life balance is key for an individual’s happiness in
			today’s fast paced world. It is my most humble opinion while academic pursuits
			certainly contribute towards success, character building and holistic development
			can be achieved only by participating in a variety of activities to delight/ entice the
			myriad senses of the human mind.<br>
			Sports not only contributes towards physical and mental well-being in the age of
			computers &amp; electronics, but also fosters a sense of independence, cooperation and
			team involvement. Perhaps, most importantly, extra-curricular activities teach
			students the importance of participation and involvement thereby imprinting
			wonderful experiences and memories.<br>
			It gives me immense pleasure to introduce the 5 th Edition of KIET GROUP OF
			INSTITUTION’S Annual Sports Fest, RANN’2020. Certainly, just as all our prior
			editions were a resounding success, I have no doubt that this edition will be equally
			fulfilling and enjoyable for the participants.
			I wish all the participants and my students the very best.
		</div>
	</div>
	<br>
	<div class="dir_msg_wrap jd">
		<div class="dir_msg">
			<div class="heading2 center">Dr. Manoj Goel (Joint Director)</div><br>
			Sports unify people together irrespective of their age, gender or religion. They also bring out the best among the individuals and give us human beings of extraordinary capabilities, ones that leave their mark in the history book forever.<br><br> It gives me immense pleasure to introduce 5th edition of KIET Group of Intuitions annual sports fest RANN’2020. Certainly, just as all our prior editions were a resounding success, I have no doubt that this edition will be equally fulfilling and enjoyable for the participants I wish all the best to all participants.
		</div>
		<div class="dir_img">
			<img src="../static/img/jd.jpg">
		</div>
	</div>

</div>

<br><br><br>

<footer>
	<div class="footer_wrap">
		<div class="logo logo_footer">
			<img src="../static/img/kiet.png">
		</div>

		<div class="footer_list">
			<div class="comp_txt">Links</div>

			<a href="#">Gallery</a>
			<a href="#">Sponsors</a>
	
		</div>

		<!-- <div class="input_area">
			<div class="msg_txt">LEAVE A MESSAGE</div>
			<input type="text" placeholder="Enter Your Name">
			<input type="email" placeholder="Enter Your Email">
			<textarea placeholder="Leave us a message"></textarea>
			<button class="submit_btn">SUBMIT</button>
		</div> -->

		<div class="rann_logo">
			<img src="../static/img/logo.png" />
		</div>
	</div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/js/cardeffect.js"></script>

</body>
</html>