<!DOCTYPE html>
<html>
<head>
  <title>Sign Up - RANN'20 || Intercollege sports event || KIET </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <link rel="stylesheet" href="../static/css/simple-grid.css">
</head>
<body>


<div class="wrap">
    <div class="left_area">
        <div class="logo">
           RANN '20
        </div>

        <blockquote class="quote2">
          You Have To  <br>
          Expect Things <br>
          Of Yourself Before <br>
          You Can Do Them.<br>
          <!-- <font style="color:#550a46;font-family:'FSM-B'">ILLUSIONS</font> -->

        </blockquote>

        <div class="dont_have_acc">
          Already have an account?<br>
          <a href="/loginpage/direct">LOGIN NOW</a>
        </div>
    </div>

    <div class="input_area2">
      
          <div class="col-12 wel_txt">
            Welcome,<br>
            <font style="color:#2575fc;font-family:'FSM-B';">CREATE</font> New Account
          </div>
        
        <br><br>
      
        <form action="/signup" method="POST">
          <input type="text" placeholder="FULL NAME"  name="name" required> <br>
          <input type="email" placeholder="EMAIL ADDRESS"  name="uname" required> <br>
          <select  required name='gender'>
            <option  value="" selected hidden disabled>SELECT GENDER</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select> <br>
          <input type="text" placeholder="COLLEGE NAME" name="institute" required> <br>
          <input type="text" placeholder="COLLEGE ID" name="cid" required> <br>
          <input type="number" placeholder="CONTACT NUMBER" name="contact_no" maxlength="10" 
            oninput="this.value=this.value.slice(0,this.maxLength)" required> <br>
          <input type="password" placeholder="CREATE NEW PASSWORD" name="passwd" required> <br><br>
          <!-- By Creating Account you are agreeing to <a href="#">Terms And Conditions</a>  <br>   -->
          <button class="login_btn">CREATE ACCOUNT</button>

        </form>
    </div>
</div>


</body>
</html>