<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>
<style>
    body{
        background-image:url(bg.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
     
    .col-md-3 img{
        width:130%;
        height:80%;
        border-radius: 10px;
    }
.bottom-left  {
  bottom: 8px;
  left: 16px;
}
    h3{
        color: white;
         font-family: 'Varela Round', sans-serif;
        font-size: 25px;
    }

    
    
    </style>
<body>
  <br>
  <div class="container">
  <br>
  <br>
  <center>
  <h1 style="color: white;text-align: center; font-family: 'Acme', ;">SPONSORS RANN 2020</h1>
  <br>
  <br>
  <br>
   <div class="row" >
       <div class="col-md-3"><a href=""><img src="/static/images/sponsors/IMG-20200217-WA0007.jpg" alt="" style="height: 260px;"> <h3> </h3></a></div>
             
        <div class="col-md-1"> </div>
        
       <div class="col-md-3"><a href=""><img src="/static/images/sponsors/IMG-20200131-WA0003.jpg" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"></div>
       <div class="col-md-3"><a href=""><img src="/static/images/sponsors/IMG-20200216-WA0000.jpg" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"></div>
         
   </div>
   <br>
    <div class="row" >
        <div class="col-md-3"><a href=""><img src="/static/images/sponsors/IMG-20200217-WA0006.jpg" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"> </div>
        
        <div class="col-md-3"><a href=""><img src="/static/images/sponsors/IMG-20200217-WA0008.jpg" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"><a href=""><img src="/static/images/sponsors/IMG_20200217_123606.jpg" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"></div>
         
   </div>
   <br>
   <div class="row" >
       <div class="col-md-3"><a href=""><img src="/static/images/sponsors/LOGO.jpg" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"> </div>
        
       <div class="col-md-3"><a href=""><img src="/static/images/sponsors/images.png" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"><a href=""><img src="" alt="" style="height: 260px;"><h3></h3></a></div>
        <div class="col-md-1"></div>
         
   </div>
   <br>
    <div class="row" >
        <div class="col-md-3"><a href=""> <img src="" alt=""><h3></h3></a></div>
        <div class="col-md-1"> </div>
        
        <div class="col-md-3"><a href=""> <img src="" alt=""><h3></h3></a></div>
        <div class="col-md-1"></div>
        
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        
         
   </div>
   
  
    
  </div>
   <br>
    
    </body>
    </html>